@import "tailwindcss";

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* globals.css */
.hero-bg {
  background-image: url("/NewImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@layer utilities {
  .font-poppins {
    font-family: "Poppins", "Roboto", sans-serif;
  }

  .font-barlow {
    font-family: "Barlow Condensed", sans-serif;
  }

  .font-vibes {
    font-family: "Great Vibes", cursive;
  }

  .font-bellefair {
    font-family: "Bellefair", serif;
  }
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
}

/* Optional: fade-in-up utility if you want to reuse outside Framer Motion */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes colorCycle {
  0% {
    background-color: #14b8a6;
  } /* teal-500 */
  50% {
    background-color: #1fa3d7;
  } /* pink-500 */
  100% {
    background-color: #14b8a6;
  } /* back to teal */
}

.animate-colorCycle {
  animation: colorCycle 3s infinite alternate;
}
